# 開発モードの場合に true を設定する。
# 開発モードでは、redocly のバージョンアップ案内が表示される。
ARIADNE_DEVELOPMENT=true

# ホスト環境からアクセスするポート番号を設定する。
POSTGRES_HOST_PORT=7100
PGWEB_HOST_PORT=7101

# postgresqlのアクセス内容を設定する。
POSTGRES_VERSION=18.6
POSTGRES_DB=ariadne
POSTGRES_USER=ariadne
POSTGRES_PASSWORD=password
TIME_ZONE=Asia/Tokyo
